

.pagesCon{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

/* Стили для фоновой картинки */
.backgroundImage {
    background-image: url("./assets/pictures/narva_1_1_of_1.jpg");
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

/* Стили для контейнера с камерой */
.camera-container {
    position: relative;
    z-index: 1;
}